@media (max-width: 350px) {
}

/*smart phone and tablet*/
@media (min-width: 500px) {
}

/*small screen*/
@media (min-width: 768px) {
}

/*medium screen*/
@media (min-width: 992px) {
}

/*large screen*/
@media (min-width: 1200px) {
  .ourwork .boxm {
    margin-top: 60px;
  }
  .ourwork .bigbox {
    margin-bottom: 50px;
    margin-top: 50px;
  }

  .ourwork .bigbox2 .boxm {
    margin-top: 0;
  }
  .ourwork .bigbox2 .boxlr {
    margin-top: 60px;
  }
  .manager .mid {
    margin-top: -30px;
  }
}

/*x-large screen*/
@media (min-width: 1400px) {
  .ourwork .boxm {
    margin-top: 60px;
  }
  .ourwork .bigbox {
    margin-bottom: 50px;
    margin-top: 50px;
  }

  .ourwork .bigbox2 .boxm {
    margin-top: 0;
  }
  .ourwork .bigbox2 .boxlr {
    margin-top: 60px;
  }
}
